.ico-fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 2;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.ico-fa-pause-circle:before {
  @extend .ico-fas;
  content: '\f28b';
}

.ico-fa-forward:before {
  @extend .ico-fas;
  content: '\f04e';
}

.ico-fa-first-order:before {
  @extend .ico-fas;
  content: '\f2b0';
}

.ico-fa-first-order-alt:before {
  @extend .ico-fas;
  content: '\f50a';
}

.ico-fa-play:before {
  @extend .ico-fas;
  content: '\f04b';
}

.ico-fa-play-circle:before {
  @extend .ico-fas;
  content: '\f144';
}

.ico-fa-truck:before {
  @extend .ico-fas;
  content: '\f0d1';
}

.ico-fa-truck-loading:before {
  @extend .ico-fas;
  content: '\f4de';
}

.ico-fa-truck-monster:before {
  @extend .ico-fas;
  content: '\f63b';
}

.ico-fa-truck-moving:before {
  @extend .ico-fas;
  content: '\f4df';
}

.ico-fa-truck-pickup:before {
  @extend .ico-fas;
  content: '\f63c';
}

.ico-fa-random:before {
  @extend .ico-fas;
  content: '\f074';
}

.ico-fa-volume-down:before {
  @extend .ico-fas;
  content: '\f027';
}

.ico-fa-volume-mute:before {
  @extend .ico-fas;
  content: '\f6a9';
}

.ico-fa-volume-off:before {
  @extend .ico-fas;
  content: '\f026';
}

.ico-fa-volume-up:before {
  @extend .ico-fas;
  content: '\f028';
}

.ico-fa-backward:before {
  @extend .ico-fas;
  content: '\f04a';
}

.ico-fa-minus:before {
  @extend .ico-fas;
  content: '\f068';
}

.ico-fa-minus-circle:before {
  @extend .ico-fas;
  content: '\f056';
}

.ico-fa-minus-square:before {
  @extend .ico-fas;
  content: '\f146';
}

.ico-fa-exclamation:before {
  @extend .ico-fas;
  content: '\f12a';
}

.ico-fa-exclamation-circle:before {
  @extend .ico-fas;
  content: '\f06a';
}

.ico-fa-exclamation-triangle:before {
  @extend .ico-fas;
  content: '\f071';
}

.ico-fa-info-circle:before {
  @extend .ico-fas;
  content: '\f05a';
}

.ico-fa-plus-circle:before {
  @extend .ico-fas;
  content: '\f055';
}

.ico-fa-plus-square:before {
  @extend .ico-fas;
  content: '\f0fe';
}

.ico-fa-arrow-alt-circle-down:before {
  @extend .ico-fas;
  content: '\f358';
}

.ico-fa-arrow-alt-circle-left:before {
  @extend .ico-fas;
  content: '\f359';
}

.ico-fa-arrow-alt-circle-right:before {
  @extend .ico-fas;
  content: '\f35a';
}

.ico-fa-arrow-alt-circle-up:before {
  @extend .ico-fas;
  content: '\f35b';
}

.ico-fa-arrow-circle-down:before {
  @extend .ico-fas;
  content: '\f0ab';
}

.ico-fa-arrow-circle-left:before {
  @extend .ico-fas;
  content: '\f0a8';
}

.ico-fa-arrow-circle-right:before {
  @extend .ico-fas;
  content: '\f0a9';
}

.ico-fa-arrow-circle-up:before {
  @extend .ico-fas;
  content: '\f0aa';
}

.ico-fa-arrow-down:before {
  @extend .ico-fas;
  content: '\f063';
}

.ico-fa-arrow-left:before {
  @extend .ico-fas;
  content: '\f060';
}

.ico-fa-arrow-right:before {
  @extend .ico-fas;
  content: '\f061';
}

.ico-fa-arrow-up:before {
  @extend .ico-fas;
  content: '\f062';
}

.ico-fa-arrows-alt:before {
  @extend .ico-fas;
  content: '\f0b2';
}

.ico-fa-arrows-alt-h:before {
  @extend .ico-fas;
  content: '\f337';
}

.ico-fa-arrows-alt-v:before {
  @extend .ico-fas;
  content: '\f338';
}

.ico-fa-angle-double-down:before {
  @extend .ico-fas;
  content: '\f103';
}

.ico-fa-angle-double-left:before {
  @extend .ico-fas;
  content: '\f100';
}

.ico-fa-angle-double-right:before {
  @extend .ico-fas;
  content: '\f101';
}

.ico-fa-angle-double-up:before {
  @extend .ico-fas;
  content: '\f102';
}

.ico-fa-angle-down:before {
  @extend .ico-fas;
  content: '\f107';
}

.ico-fa-angle-left:before {
  @extend .ico-fas;
  content: '\f104';
}

.ico-fa-angle-right:before {
  @extend .ico-fas;
  content: '\f105';
}

.ico-fa-angle-up:before {
  @extend .ico-fas;
  content: '\f106';
}

.ico-fa-times:before {
  @extend .ico-fas;
  content: '\f00d';
}

.ico-fa-times-circle:before {
  @extend .ico-fas;
  content: '\f057';
}

.ico-fa-check:before {
  @extend .ico-fas;
  content: '\f00c';
}

.ico-fa-check-circle:before {
  @extend .ico-fas;
  content: '\f058';
}

.ico-fa-check-double:before {
  @extend .ico-fas;
  content: '\f560';
}

.ico-fa-check-square:before {
  @extend .ico-fas;
  content: '\f14a';
}