<% if(page.comment && theme.comment) { %>
<article class="message mt-4">
  <p class="message-header"><%- __('comment') %></p>
  <div class="message-body">
    <div id="comment-container">Loading...</div>
  </div>
</article>

<%- js('https://cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js') %> 
<script>
  new MiniValine(Object.assign(<%- JSON.stringify(theme.comment) %>, {
  el: '#comment-container',
  }));
</script>
<% } %>
